alabaster==0.7.12
atomicwrites==1.3.0
attrs==19.3.0
Babel==2.8.0
bson==0.5.9
certifi==2019.9.11
chardet==3.0.4
Click==7.0
codecov==2.0.22
coverage==5.0.4
docutils==0.16
Flask==1.1.1
furl==2.1.0
idna==2.8
imagesize==1.2.0
importlib-metadata==0.23
itsdangerous==1.1.0
Jinja2==2.11.1
m2r==0.2.1
MarkupSafe==1.1.1
mistune==2.0.3
mongomock==3.19.0
more-itertools==7.2.0
numpy==1.18.1
orderedmultidict==1.0.1
packaging==19.2
pika==1.1.0
Pillow==7.0.0
pluggy==0.13.0
pockets==0.9.1
protobuf==3.11.3
py==1.8.0
Pygments==2.6.1
pymongo==3.10.1
pyparsing==2.4.2
pytest==5.2.2
pytest-cov==2.8.1
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
sentinels==1.0.0
six==1.12.0
snowballstemmer==2.0.0
Sphinx==3.0.0
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-napoleon==0.7
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
urllib3==1.25.6
wcwidth==0.1.7
Werkzeug==1.0.0
zipp==0.6.0
