<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css", rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <script>
        var api_host = '{{ api_host }}';
        var api_port = '{{ api_port }}';
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</head>
<body>
    <div id="title">
        <h1>Cortex</h1>
    </div>

    <div id="topMenu">
        <a id="usersBtn">Users</a>
    </div>

    <div id="main">
        <div id="userNav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn"><<</a>
        </div>
        <div id="snapshotNav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn"><<</a>
        </div>

        <div id="snapshot">
            <div id="snapshotStatus">
                <div id="user">
                    <div id="name">
                        <i class="fas fa-male"></i>
                        <span class="value"></span>
                    </div>
                    <div id="birthday">
                        <i class="fas fa-birthday-cake"></i>
                        <span class="value"></span>
                    </div>
                </div>
                <div id="feelings">
                    <div id="hunger" title="Hunger">
                        <i class="fas fa-drumstick-bite"></i>
                        <span class="value"></span>
                    </div>
                    <div id="thirst" title="Thirst">
                        <i class="fas fa-wine-glass-alt"></i>
                        <span class="value"></span>
                    </div>
                    <div id="exhaustion" title="Exhaustion">
                        <i class="fas fa-bed"></i>
                        <span class="value"></span>
                    </div>
                    <div id="happiness" title="Happiness">
                        <i class="far fa-smile"></i>
                        <span class="value"></span>
                    </div>
                </div>
                <div id="pose">
                    <div id="translation_x"></div>
                    <div id="translation_y"></div>
                    <div id="translation_z"></div>
                    <div id="rotation_x"></div>
                    <div id="rotation_y"></div>
                    <div id="rotation_z"></div>
                    <div id="rotation_w"></div>
                </div>
            </div>
            <div id="snapshotImage">
            </div>
        </div>
    </div>
</body>
</html>